<!-- <div class="container"> -->
<div class="row">
  <div class="col-xs-12 itinerary-item text-center">
  Dubai, UAE - Snowboarding 
  <%#  image_tag "test.png", :class => "itinerary-image"   %> 
  </div> 
  <div class="col-xs-12 itinerary-item text-center">
    Dubai, UAE - Snowboarding
  </div>
  <div class="col-xs-12 itinerary-item text-center">
    Dubai, UAE - Snowboarding
  </div>
  <div class="col-xs-12 itinerary-item text-center">
    Dubai, UAE - Snowboarding
  </div>
  <div class="col-xs-12 itinerary-item text-center">
    Dubai, UAE - Snowboarding
  </div>
</div>