.recommendations-list {
  input[type='checkbox'] {
    display: none;

    &:checked + label {
      border: 1px solid red;
    }
  }

  label {
    background: url('test.png');
    background-size: cover;
    display: block;
    height: 30%;
    margin-bottom: 0;
  }
}
