.container.recommendations {
  height: 100%;
  width: 100%;
  padding: 0;

  input[type='checkbox'] {
    display: none;

    &:checked + label {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,0.35);
      }

      &:before {
        position: absolute;
        top: 30%;
        color: white;
        content: "Added";
        font-size: 3em;
        text-align: center;
        width: 100%;
      }
    }
  }

  label {
    background: url('test.png');
    background-size: cover;
    display: block;
    height: 100%;
    margin-bottom: 0;
  }

  .row { height: 33.33%; }

  .full-height { height: 100%; }
}
