.itinerary-item {
  border:1px solid black;
  /*height:100px;*/
  /*background-color: $red;*/
  color:$black;
  font-family: $defaultFont;
  font-weight: $lighterFont;
  font-size: $largeFont;
  z-index: 99;
  h1 {
    z-index: 99;
  }
  .itinerary-image{
  z-index: -5;
  width:100%;
  opacity: 0.4;
  /*position:absolute;*/
  }
}

.pin-it{
  z-index: 999;
  position:relative;
  width:300px;
  margin:0 auto;
}
#map{
  z-index: 1;
}