<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>
<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>
<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>
<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>
<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>
<label for="test">
    <div style="padding: 2em; border: 1px solid">
        <input name="test" id="test" type="checkbox" style ="opacity:0.1;">
    </div>
</label>