.row
  .col-xs-12
    TCKT
.row
  .col-xs-12
    = link_to 'Login', '', class: 'btn btn-primary btn-lg btn-block'
.row
  .col-xs-12
    = link_to 'Register', '', class: 'btn btn-primary btn-lg btn-block'
