.container
  .row
    .col-xs-12.text-center
      TCKT
  .row.bottom-spaced
    .col-xs-6.centered
      = link_to 'Login', '', class: 'btn btn-primary btn-lg btn-block'
  .row
    .col-xs-6.centered
      = link_to 'Register', '', class: 'btn btn-primary btn-lg btn-block'
