.container.b
  .row
    .col-xs-12
      TCKT
  .row.bottom-margin
    .col-xs-6.centered
      = link_to 'Login', '', class: 'btn btn-primary btn-lg btn-block'
  .row
    .col-xs-6.centered
      = link_to 'Register', '', class: 'btn btn-primary btn-lg btn-block'
