.photos
  =image_tag 'index/rio-copy.jpg', height: '400px', width: '1520px'

=form_tag sessions_path do
  =label_tag 'Username:'
  =text_field_tag(:username)
  =label_tag 'Password:'
  =password_field_tag
  =submit_tag('Log In')

%br

=form_for @user do
  =label_tag 'Username:'
  =text_field_tag 'user[username]'
  =label_tag 'Password:'
  =password_field_tag 'user[password]'
  =label_tag 'Email:'
  =email_field_tag 'user[email]'
  =submit_tag 'Sign Up'


/ Display errors
