html, body {
  height: 100%;
}

.centered {
  float: none;
  margin: 0 auto;
}


@import 'variables',
        'users/*',
        'itinerary/*',
        'recommendations/*',
        'map';

.navbar{
  margin-bottom: 0;
  // color:$white;
  // font-weight: $lightFont;
  // font-family: $defaultFont;
}
