html, body {
  height: 100%;

}

.centered {
  float: none;
  margin: 0 auto;
}


@import 'variables',
'users/*',
'itinerary/*',
'recommendations/*',
'map',
'nate';

.navbar{
  margin-bottom: 0;
  .navbar-header{
    width:100%;
  }
  // color:$white;
  // font-weight: $lightFont;
  // font-family: $defaultFont;
  .layout-nav-bar {
    float: right;
    width: 120px;
    a {
      margin-left: 5px;
    }
  }
}
