html, body {
  height: 100%;

}

.layout-nav-bar {
  float: right;
  a {
    text-decoration: none;
    color: #777;
  }
  li {
    display: inline;
    list-style-type: none;
    margin-left: 15px;
  }
}

.centered {
  float: none;
  margin: 0 auto;
}


@import 'variables',
'users/*',
'itinerary/*',
'recommendations/*',
'map',
'nate';

.navbar{
  margin-bottom: 0;
  // color:$white;
  // font-weight: $lightFont;
  // font-family: $defaultFont;
}
