.hide-until-hover {
  opacity: 0;
}

.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: 15px;
  opacity: 0;
}
.carousel-control:hover {
  opacity: 0.1;
}

.carousel-control.right {
  right: 15px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: white;
}
.carousel-indicators .active {
background: white;
}

.wtf {
  margin-top: 40px;
}
