.b { border: 1px solid red; }

.bottom-spaced { margin-bottom: px-to-em(10px); }

.screen {
  background: image-url('/images/background-0.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
  padding-top: 10%;

  h1{
    margin-top:0;
    font-family: $defaultFont;
    font-size: 2em;
    font-weight: $lightFont;
  }
}

.logo {
  color: white;
  // font-weight: bold;
  font-family: $defaultFont;
  font-size: $jumboFont;
  font-weight: $lightFont;
}

.white-bg {
  font-size: $largeFont;
  background: rgba(255,255,255, 0.70)
}

body.modal-open { margin: 0; padding: 0; }


.web-version{
  .jumbotron{
    background-image: url("index/rio-copy.jpg");
    color:$white;
    h1{
      font-family: $defaultFont;
      font-size: $jumboFont;
      font-weight: $lightFont;
    }
  }
}
