.b { border: 1px solid red; }

.bottom-spaced { margin-bottom: px-to-em(10px); }

.container.screen {
  background: image-url('background-0.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;

  .screen-centered {
    margin-top: 30%;
  }

  .modal {
    padding-top: 15%;
  }
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 5em;
}

.white-bg {
  font-size: $largeFont;
  background: rgba(255,255,255, 0.70)
}

body.modal-open { margin: 0; padding: 0; }
